{{#if products.length }}
<aside></aside>
<div class="listing__products-container">
  <header class="listing__products-header">
    <div class="products-header">
      <strong class="products-header__title">{{len}} resultados encontrados {{#if query}}para "{{query}}"{{/if}}
      </strong>
      <select class="products-header__select">
        <option class="products-header__option" {{#ifCond order '==' "sponsored:-1" }} selected {{/ifCond}}
          value="sponsored:-1">M치s recomendado</option>
        <option class="products-header__option" {{#ifCond order '==' "date:-1" }} selected {{/ifCond}} value="date:-1">
          M치s nuevo</option>
        <option class="products-header__option" {{#ifCond order '==' "visits:-1" }} selected {{/ifCond}}
          value="visits:-1">M치s popular</option>
        <option class="products-header__option" {{#ifCond order '==' "price:1" }} selected {{/ifCond}} value="price:1">
          M치s barato</option>
        <option class="products-header__option" {{#ifCond order '==' "typeAge:1:minAge:1" }} selected {{/ifCond}}
          value="typeAge:1:minAge:1">Menor Edad</option>
        <option class="products-header__option" {{#ifCond order '==' "typeAge:-1:minAge:-1" }} selected {{/ifCond}}
          value="typeAge:-1:minAge:-1">Mayor Edad</option>
      </select>
    </div>
    {{> components/pagination}}
  </header>
  {{#each products}}
  <article class="card-product-list">
    <div class="card-product-list__wrapper">
      <aside class="card-product-list__profile">
          <button class="card__favorite" data-id="{{id}}">
            <svg height="24" width="24" version="1.1">
              <g transform="translate(0 -1028.4)">
                <path
                  d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z"
                  fill="#e74c3c"></path>
              </g>
            </svg>
          </button>
        <a href="#/products/{{id}}" class="card-product-list__link">
          {{! <span class="badge card-product-list__badge">
            NEW
          </span> }}
          <img src="{{profileImageUrl}}" class="card-product-list__image" />
        </a>
      </aside>
      <div class="card-product-list__content">
        <div class="card-product-list__content-info">
          <a href="#/products/{{id}}" class="card-product-list__title">
            {{name}}</a>

          <p class="card-product-list__price">{{price}}</p>

          <p class="card-product-list__badges-container">
            {{> components/badges}}
          </p>

          <p class="card-product-list__description">
            {{shortDescription}}
          </p>
          <p class="card-product-list__description card-product-list__description--long">
            {{longDescription}}
          </p>

        </div>
        <!-- info-main.// -->
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </article>
  {{/each}}
  {{> components/pagination}}

</div>
{{else}}
<p class="listing__empty">No se encontraron resultados {{#if query}}para "{{query}}"{{/if}}</p>
{{/if}}