{{#if products.length }}
<aside></aside>
<div class="listing__products-container">
  <header class="listing__products-header">
    <div class="products-header">
      <strong class="products-header__title">{{len}} productos encontrados {{#if query}}para "{{query}}"{{/if}}
      </strong>
      <select class="products-header__select">
        <option class="products-header__option" selected>M치s nuevo</option>
        <option class="products-header__option">M치s popular</option>
        <option class="products-header__option">M치s recomendado</option>
        <option class="products-header__option">M치s barato</option>
      </select>
    </div>
  </header>
  {{#each products}}
  <article class="card-product-list">
    <div class="card-product-list__wrapper">
      <aside class="card-product-list__profile">
        <a href="#/products/{{id}}" class="card-product-list__link">
          {{! <span class="badge card-product-list__badge">
                  NEW
                </span> }}
          <img src="{{profileImageUrl}}" class="card-product-list__image" />
        </a>
      </aside>
      <div class="card-product-list__content">
        <div class="card-product-list__content-info">
          <a href="#/products/{{id}}" class="card-product-list__title">
            {{name}}</a>

          <p class="card-product-list__price">{{price}}</p>

          <p class="card-product-list__badges-container">
            {{> components/badges}}
          </p>

          <p class="card-product-list__description">
            {{shortDescription}}
          </p>
          <p class="card-product-list__description card-product-list__description--long">
            {{longDescription}}
          </p>

        </div>
        <!-- info-main.// -->
      </div>
      <!-- col.// -->
    </div>
    <!-- row.// -->
  </article>
  {{/each}}
  {{> components/pagination}}

</div>
{{else}}
<p class="listing__empty">No se encontraron productos {{#if query}}para "{{query}}"{{/if}}</p>
{{/if}}