{{#ifCond typeAge "==" "Y"}}
  <span class="badge badge--year">Desde {{minAge}} años</span>
  <span class="badge badge--year">Hasta {{maxAge}} años</span>
{{else}}
  <span class="badge badge--month">Desde {{minAge}} meses</span>
  <span class="badge badge--month">Hasta {{maxAge}} meses</span>
{{/ifCond}}
<span class="badge badge--category">{{category}}</span>
<span class="solo-product__shipping">{{#if shipping}}FREE <i class="fa-solid fa-truck">{{/if}}</i></span>