<div class="cart-product" data-id="{{id}}">
  <div class="cart-product__buttons-container">
    <button class="fa-solid fa-minus cart-product__button cart-product__button--minus" {{minusDisabled}}></button>
    <p class="cart-product__quantity">{{quantity}}</p>
    <button class="fa-solid fa-plus cart-product__button cart-product__button--plus" {{plusDisabled}}></button>
  </div>
  <div class="cart-product__img-container">
    <img class="cart-product__img" src="{{profileImageUrl}}" alt="{{name}}">
  </div>
  <a href="#/products/{{id}}" class="cart-product__title">{{name}}</a>
  <div class="cart-product__subtotal">
    <p class="cart-product__subtotal-price">${{price}} X {{quantity}}</p>
    <p class="cart-product__subtotal-total">${{math price "*" quantity}}</p>
  </div>
  <div class="cart-product__buttons-container"><button
      class="fa-solid fa-trash cart-product__button cart-product__button--trash"></button></div>
</div>